ansible>=2.10.3
ansible-base>=2.10.3
certifi>=2020.11.8
cffi>=1.14.3
chardet>=3.0.4
cryptography>=3.2.1
future>=0.18.2
idna>=2.10
ipaddress>=1.0.23
Jinja2>=2.11.2
MarkupSafe>=1.1.1
omsdk>=1.2.451
packaging>=20.4
pathspec>=0.8.1
ply>=3.11
pyasn1>=0.4.8
pycparser>=2.20
pycryptodomex>=3.9.9
pyparsing>=2.4.7
pysmi>=0.3.4
pysnmp>=4.4.12
pysnmp-mibs>=0.1.6
PyYAML>=5.3.1
requests>=2.25.0
six>=1.15.0
urllib3>=1.26.2
yamllint>=1.25.0
