default linux

# install
label linux
  ipappend 2
  kernel boot/{{ ARCH }}/loader/linux
  append initrd=boot/{{ ARCH }}/loader/initrd \
         instsys=tftp://{{ TFTP_SERVER }}/SLE-15-SP2-x86_64/boot/x86_64/root \
         ifcfg={{ node.etherdevice }}=dhcp \
         install={{ REPO_URL }} \
         autoyast=tftp://{{ TFTP_SERVER }}/SLE-15-SP2-x86_64/autoyast/{{ node.name }}-autoinst.xml \
         self_update=0 textmode=1
display  message
implicit 1
prompt  1
timeout  50